# Geodatenanalyse 2


## Termin Big Data 4 - Modul 1

## Datenbanken und *Structured Query Language* (SQL)

Ca. 20-30 Minuten

## Inhalt

- Was ist eine Datenbank?
- Verwendung von Datenbanken
- *Structured Query Language* (*SQL*)
- SQLite in Python
- Übersicht über die Arten von Abfragen

## SQLite3 Installation

Für dieses Modul brauchen wir [SQLite3](https://anaconda.org/blaze/sqlite3). Zur Installation bitte:

1 - *Anaconda Prompt* öffnen und folgendes eingeben:

2 - ``conda activate geo`` ENTER

3 - ``conda install -c blaze sqlite3`` ENTER

In [1]:
import sqlite3

## Was ist eine Datenbank?

- Eine Datenbank enthält elektronisch gespeicherte Daten

- Diese können **strukturiert** und **unstrukturiert** sein

- Zugriff auf diese Daten erfolgt immer über ein Interface

### Beispiel Microsoft Excel

Eine *xlsx*-Datei enthält Daten und die Excel-Software erlaubt Zufriff und Manipulation

<img width=500 style="float: left;" src="images\database_excel.png">

### Wichtige Fragen ...

- Was passiert, wenn Daten zu groß werden?

- Was ist, wenn man mehrere Tabellen hat, welche zusammen gehören?

- Wie geht man mit mehrdimensionalen Daten um?

## Verwendung von Datenbanken

- Eine Datenbank ist ein elektronisches Speicher- und Verwaltungssystem für strukturierte Daten

- Durch den Einsatz von *Structured Query Language* (SQL) wird eine Unabhängigkeit der Anwendungen vom eingesetzten Datenbankmanagementsystem erzielt

- SQL ist eine Sprache zur Manipulation (Abruf, Veränderung, Hinzufügung, etc.) von Daten aus einer Datenbank

### Beispiel Software Schnittstelle

Eine Binärdatei enthält Daten und eine Software fungiert als Schnittstelle für Zufriff und Manipulation

<img width=500 style="float: left;" src="images\database_sql.png">

### Relationale Datenbank

"*Eine relationale Datenbank ist eine digitale Datenbank, die zur elektronischen Datenverwaltung in Computersystemen dient und auf einem tabellenbasierten relationalen Datenbankmodell beruht. Grundlage des Konzeptes relationaler Datenbanken ist die Relation.*"

Quelle: [Wikipedia](https://de.wikipedia.org/wiki/Relationale_Datenbank)

### Wozu braucht man das?

Für die Speicherung von **diversen Daten**, welche eine **Beziehung zeinander** haben

<img width=500 style="float: left;" src="images\relational_database.png">

## *Structured Query Language* (SQL)


Die SQL-Sprache gliedert sich in mehrere Sprachelemente:

- **Klauseln**, die konstituierende Bestandteile von Anweisungen und Abfragen sind

- **Ausdrücke**, die entweder skalare Werte oder Tabellen, die aus Spalten und Zeilen von Daten bestehen, erzeugen können

- **Prädikate**, die Bedingungen spezifizieren, die nach der dreiwertigen Logik (3VL) von SQL (wahr/falsch/unbekannt) oder booleschen Wahrheitswerten ausgewertet werden können, und die verwendet werden, um die Auswirkungen von Anweisungen und Abfragen zu begrenzen oder den Programmablauf zu ändern

- **Abfragen**, die die Daten anhand bestimmter Kriterien abrufen. Anweisungen, die eine dauerhafte Auswirkung auf Schemata und Daten haben oder Transaktionen, den Programmablauf, Verbindungen, Sitzungen oder Diagnosen steuern.

Quelle: [Wikipedia](https://en.wikipedia.org/wiki/SQL_syntax)


<img width=500 style="float: left;" src="images\sql_overview.svg">

## SQLite in Python

Als Beispiel verwenden wir eine [Lehrdatenbank aus der Ökologie](https://github.com/weecology/portal-teachingdb)

In [2]:
# Erstelle eine SQL Verbindung zur SQLite Datenbank her
con = sqlite3.connect("data/portal_mammals.sqlite")
cur = con.cursor()

OperationalError: unable to open database file

### Übersicht über *SELECT* Abfragen

<img width=300 style="float: left;" src="images\sqlite_select.png">

#### Welche Tabellen gibt es?

Es gibt immer einen Phantom-Eintrag **sqlite_master**, welcher eine Liste der Tabellen enthält.

Eine Liste aller existierender Tabellen in der Datenbank:

In [ ]:
for row in cur.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(row)

Eine detaillierte Übersicht übder die Tabellenstruktur von *species*:

In [ ]:
for row in cur.execute("PRAGMA TABLE_INFO(species);"):
    print(row)

#### Was steht in der Tabelle *species*?

Frage alle Informationen ab:

In [ ]:
# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM species;'):
    print(row)

Frage selektiv Informationen ab:

In [ ]:
# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM species WHERE taxa="Bird" LIMIT 5;'):
    print(row)

### Übersicht über INSERT Abfragen

<img width=400 style="float: left;" src="images\sqlite_insert.png">

Daten hinzufügen:

In [ ]:
cur.execute('INSERT INTO species (genus, species, taxa) VALUES("Crocodile", "sp.", "Reptile");')

In [ ]:
# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM species WHERE taxa="Reptile";'):
    print(row)

### Übersicht über UPDATE Abfragen

<img width=400 style="float: left;" src="images\sqlite_update.png">

In [ ]:
cur.execute('UPDATE species SET species_id="UL" WHERE taxa="Reptile";')

In [ ]:
# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM species WHERE taxa="Reptile";'):
    print(row)

### Übersicht über DELETE Abfragen

<img width=400 style="float: left;" src="images\sqlite_delete.png">

In [ ]:
cur.execute('DELETE FROM species WHERE genus="Crocodile";')

In [ ]:
# The result of a "cursor.execute" can be iterated over by row
for row in cur.execute('SELECT * FROM species WHERE taxa="Reptile";'):
    print(row)

### Übersicht über CREATE TABLE Abfragen

<img width=500 style="float: left;" src="images\sqlite_create_table.png">

**WICHTIG**: Ein PRIMARY KEY ist immer sinnvol, denn er erstellt automatisch eine eindeutige Nummer für jeden Eintrag. Damit wird eine Verwechslung von Einträgen verhindert.

In [ ]:
cur.execute('CREATE TABLE occurrence \
            (oc_id INTEGER PRIMARY KEY, \
            continent TEXT);')

In [ ]:
for row in cur.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(row)

## Weitere Abfragen

- Die gegebenen Beispiele waren nur ein kleiner Teil der möglichen Abfragen an eine Datenbank

- Weitere Beispiele könnt ihr z.B. über [SQLITE Tutorial](https://www.sqlitetutorial.net/) anschauen und lernen

Der Vollständigkeit halber löschen wir die vorher erstellte Tabelle wieder:

In [ ]:
for row in cur.execute("DROP TABLE occurrence;"):
    print(row)

In [ ]:
for row in cur.execute("SELECT name FROM sqlite_master WHERE type='table';"):
    print(row)

## Verwendung von Funktionen

SQL hat viele praktische Funktionen eingebaut:

- Mit ``MIN()`` oder ``MAX()`` fragt man Extremwerte ab

- Mit ``COUNT()``, ``SUM()`` oder ``AVG()`` kann man die Ergebnisse direkt auswerten

## Verbindung beenden

- Eine Verbindung muss immer beendet werden! 

- Damit werden alle Abfragen permanent gespeichert

In [ ]:
con.close()

## SQL Cheat Sheet

**Achtung**: SQLite hat limitierte Funktionalität!

Quelle: [SQL Tutorials](https://www.sqltutorial.org/sql-cheat-sheet/)

<img width=500 style="float: left;" src="images\SQL_cheat-sheet.png">

## ENDE