# Datenaufbereitung

## Einführung

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Importieren der Daten

Zwei Datensätze:
- Nitratdatensatz
- Corine Landnutzung für die Messstellen

In [2]:
data1 = pd.read_csv('GDA_Ex2_1.csv', sep=',', encoding='latin1')
data2 = pd.read_csv('GDA_Ex2_1.txt', sep=';',decimal=',',  encoding='latin1')

In [3]:
data1.head()

,Unnamed: 0,GW-Nummer,Messstelle,Datum,NO3 [mg/l],pH [ -],O2 [mg/l],O2-SÃ¤tt [%],T [Â°C],RECHTSWERT,HOCHWERT,HYDROGEOLE,AQUIFER,HYDROGEOL3
0,0,918/069-2,"BBR Betonwerk, Umkirch",11.10.2006 15:20,"9,4","6,45","2,4","23,3","14,0",3407870,5323120,3.0,QUARTÃR EISZEITL.KIESE+SANDE (OBERRHEINGRABEN),QuartÃ¤re Kiese und Sande (GWL)
1,1,918/069-2,"BBR Betonwerk, Umkirch",17.09.2007 14:20,12,"6,39","2,1","25,0","21,8",3407870,5323120,3.0,QUARTÃR EISZEITL.KIESE+SANDE (OBERRHEINGRABEN),QuartÃ¤re Kiese und Sande (GWL)
2,2,918/069-2,"BBR Betonwerk, Umkirch",23.09.2008 08:05,"7,6","6,58","2,5","23,0",NaN,3407870,5323120,3.0,QUARTÃR EISZEITL.KIESE+SANDE (OBERRHEINGRABEN),QuartÃ¤re Kiese und Sande (GWL)
3,3,918/069-2,"BBR Betonwerk, Umkirch",10.11.2008 09:10,"12,2","6,54","1,2","12,0","15,4",3407870,5323120,3.0,QUARTÃR EISZEITL.KIESE+SANDE (OBERRHEINGRABEN),QuartÃ¤re Kiese und Sande (GWL)
4,4,918/069-2,"BBR Betonwerk, Umkirch",09.09.2009 14:08,12,"6,46","1,3","14,0","20,0",3407870,5323120,3.0,QUARTÃR EISZEITL.KIESE+SANDE (OBERRHEINGRABEN),QuartÃ¤re Kiese und Sande (GWL)

In [4]:
data1.dtypes

Unnamed: 0        int64
GW-Nummer        object
Messstelle       object
Datum            object
NO3 [mg/l]       object
pH [ -]          object
O2 [mg/l]        object
O2-SÃ¤tt [%]     object
T [Â°C]          object
RECHTSWERT        int64
HOCHWERT          int64
HYDROGEOLE      float64
AQUIFER          object
HYDROGEOL3       object
dtype: object

In [5]:
data2.head()

,FID,GW_NUMMER,NAME,RECHTSWERT,HOCHWERT,GEMEINDE_K,AQUIFER_KZ,EINZUGSGEB,HYDROGEOLE,HYDROGEOL2,MESSNETZ1_,MESSNETZ2_,GEMEINDE,AQUIFER,EINZUGSGE2,HYDROGEOL3,MESSNETZ1,MESSNETZ2,RASTERVALU
0,0,1/022-9,"QSS HERTINGERQU.1+2, KANDERN",3395475.0,5288420.0,8336104.0,31.0,2.333220e+09,11.0,2.0,,,MALSBURG-MARZELL,MALM WEIÃJURA (SCHWÃBISCHE ALB),Engebach,Oberjura (Raurasische Fazies) (GWL),#800000000010,#800000000002,311
1,1,1/117-3,"QF KREBSBRUNNENQ., ETTENHEIM",3419400.0,5345550.0,8317026.0,81.0,2.338940e+09,45.0,69.0,,,"ETTENHEIM, STADT",BUNTSANDSTEIN,Ettenbach,Unterer und Mittlerer Buntsandstein (GWL),#800000000010,#800000000002,311
2,2,1/119-9,"TB SCHLAGBR.4, VOERSTETTEN",3414860.0,5325450.0,8316045.0,4.0,2.338892e+09,3.0,8.0,,,VÃRSTETTEN,QUARTÃR EISZEITL.KIESE+SANDE (OBERRHEINGRABEN),Schobbach,QuartÃ¤re Kiese und Sande (GWL),#800000000012,,211
3,3,1/120-8,"QF2 KLEISLEWALDQ., ZASTLER",3423200.0,5309100.0,8315084.0,91.0,2.338830e+09,50.0,18.0,,,OBERRIED,KRISTALLIN (SCHWARZWALD),Dreisam unterh. Wagensteigbach oberh. Brugga,"PalÃ¤ozoikum, Kristallin (GWG)",#800000000010,#800000000002,312
4,4,1/121-0,"Q STOLLENQUELLE HINTERES ELEND, MÃNSTERTAL",3413785.0,5303338.0,8315130.0,91.0,2.336410e+09,50.0,18.0,,,MÃNSTERTAL/ SCHWARZWALD,KRISTALLIN (SCHWARZWALD),Neumagen oberhalb von Talbach,"PalÃ¤ozoikum, Kristallin (GWG)",#800000000010,#800000000002,231

In [6]:
data2.dtypes

FID             int64
GW_NUMMER      object
NAME           object
RECHTSWERT    float64
HOCHWERT      float64
GEMEINDE_K    float64
AQUIFER_KZ    float64
EINZUGSGEB    float64
HYDROGEOLE    float64
HYDROGEOL2    float64
MESSNETZ1_     object
MESSNETZ2_     object
GEMEINDE       object
AQUIFER        object
EINZUGSGE2     object
HYDROGEOL3     object
MESSNETZ1      object
MESSNETZ2      object
RASTERVALU      int64
dtype: object

### Zusammenführen von Datensätzen

Zusammenführen der beiden Datensätze mit Hilfe des .merge-Befehls für Pandas Dataframes.

Gemeinsame Spalte für das Zusammenführen ist die Grundwassernummer.

Von dem zweiten Datensatz benötigen wir lediglich die Spalte "RASTERVALU", diese enthält Daten zur Landnutzung von der Corine Landuse.

In [7]:
joined_data = data1.merge(data2[['GW_NUMMER','RASTERVALU']], left_on='GW-Nummer', right_on='GW_NUMMER')

In [8]:
joined_data.columns

Index(['Unnamed: 0', 'GW-Nummer', 'Messstelle', 'Datum', 'NO3 [mg/l]',
       'pH [ -]', 'O2 [mg/l]', 'O2-SÃ¤tt [%]', 'T [Â°C]', 'RECHTSWERT',
       'HOCHWERT', 'HYDROGEOLE', 'AQUIFER', 'HYDROGEOL3', 'GW_NUMMER',
       'RASTERVALU'],
      dtype='object')

Für die weitere Verarbeitung benötigen wir nur noch die folgenden Spalten:
- Messstelle
- GW-Nummer 
- Datum
- NO3
- O2
- Rastervalu = Corine Landcover
- Hydrogeologie

In [9]:
data = joined_data[['Messstelle','GW-Nummer','Datum', 'NO3 [mg/l]','O2 [mg/l]','RASTERVALU', 'HYDROGEOL3']]
data = data.assign(Datum=pd.to_datetime(data['Datum'], format='%d.%m.%Y %H:%M'))

## Werte unter NWG

Die folgende Funktion ersetzt Werte unter der NWG, die im Format "< NWG" vorliegen durch 0.5*NWG:

In [10]:
# Funktion um Werte unter der NWG durch 0.5*NWG zu ersetzen
def u_NWG(X):
    if type(X) == str:
        if '<' in X:
            Y = float(X.split('<')[1].replace(',', '.'))/2
        else:
            Y = float(X.replace(',','.'))
    else:
        Y = X
    return float(Y)

In [11]:
print(data['O2 [mg/l]'].str.contains('<').sum()/len(data),
      data['NO3 [mg/l]'].str.contains('<').sum()/len(data))

0.11602890458203317 0.17326326161931352

Anwenden der Funktion auf die Spalten 'NO3 [mg/l]' und 'O2 [mg/l]', um die neuen Spalten 'NO3' und 'O2' zu erstellen.

Anschließendes Entfernen der ehemaligen Spalten.

In [12]:
data = data.assign(O2= data['O2 [mg/l]'].apply(u_NWG),
           NO3 = data['NO3 [mg/l]'].apply(u_NWG))
data.drop(columns=['NO3 [mg/l]','O2 [mg/l]'], inplace=True)

## NULL-Values

Kontrolle der NULL-Values:

In [13]:
data.isnull().sum()

Messstelle      0
GW-Nummer       0
Datum           0
RASTERVALU      0
HYDROGEOL3     56
O2            475
NO3             0
dtype: int64

### Numerische Spalten

Für die numerische Spalte 'O2' werden die fehlenden Werte durch den Mittelwert ersetzt.

Dies passiert mit dem "fillna()"-Befehl für Pandas-Dataframes.

Falls fehlende Werte durch bspw. "-999" gegeben sind, können Sie mit dem Befehl ".replace('alter_Wert', 'neuer_Wert')" ersetzt werden.

In [14]:
data['O2'].fillna(data.O2.mean(), inplace=True)

### Für kategorische Spalten

In [15]:
hy_mode = data.HYDROGEOL3.mode()[0]
print(data.HYDROGEOL3.value_counts(),'\n\n',
      'Modus:',
      hy_mode)

QuartÃ¤re Kiese und Sande (GWL)        11955
PalÃ¤ozoikum, Kristallin (GWG)            50
TertiÃ¤r im Oberrheingraben (GWG)         37
Oberjura (Raurasische Fazies) (GWL)       35
Oberer Muschelkalk (GWL)                  26
Unterjura und Mitteljura (GWG)            19
Name: HYDROGEOL3, dtype: int64

 Modus: QuartÃ¤re Kiese und Sande (GWL)

In [16]:
data = data.assign(Hydrogeologie = data.loc[:,'HYDROGEOL3'].fillna(hy_mode))
data.drop(columns='HYDROGEOL3', inplace=True)

### Kontrolle

In [17]:
data.isnull().sum()

Messstelle       0
GW-Nummer        0
Datum            0
RASTERVALU       0
O2               0
NO3              0
Hydrogeologie    0
dtype: int64

## Feature Aggregation

Einen mittleren Wert für jede Messstelle.

Für die numerischen Features (NO3, O2) wird für jede Messstelle der Mittelwert verwendet, während für die kategorischen Variablen der Modus (häufigst auftretender Wert) verwendet wird.

Für dieses Zusammenfassen wird die Funktion ".groupby()" verwendet.

Nach dem Zusammenfassen wird er Index resetet weil sonst die Messstellen der Index sind.

Die beiden entstandenen Datensätze werden dann wieder zusammengeführt.

In [18]:
messstellen1 = data[['Messstelle','NO3','O2']].groupby('Messstelle').mean()
messstellen2 = data[['Messstelle','Hydrogeologie','RASTERVALU']].groupby('Messstelle').agg(pd.Series.mode)

messstellen1.reset_index(inplace=True)
messstellen2.reset_index(inplace=True)

In [19]:
Messstellen  = messstellen1.merge(messstellen2, on='Messstelle')

In [20]:
Messstellen

,Messstelle,NO3,O2,Hydrogeologie,RASTERVALU
0,"BBR 1 Firma Schultis, Riegel",6.259259,1.315473,QuartÃ¤re Kiese und Sande (GWL),121
1,"BBR 2 Firma Thieme, Teningen",1.452941,0.823723,QuartÃ¤re Kiese und Sande (GWL),121
2,"BBR 2 Kronenwiese Firma Burda Werk 1, Offenburg",5.600000,1.984615,QuartÃ¤re Kiese und Sande (GWL),121
3,"BBR 3186 im Garten der alten Schule, Langhurst",6.968750,0.730346,QuartÃ¤re Kiese und Sande (GWL),112
4,"BBR 998 A KehlerstraÃe, Neuried-Auenheim",56.164286,1.116071,QuartÃ¤re Kiese und Sande (GWL),112
...,...,...,...,...,...
502,"TB Winzergenossenschaft, Sasbach am Kaiserstuhl",23.231034,2.691992,QuartÃ¤re Kiese und Sande (GWL),112
503,"TB WÃ¤ldeleacker Feldkirch, Hartheim am Rhein",84.274074,7.785307,QuartÃ¤re Kiese und Sande (GWL),211
504,"TB1 Glockenackern, Buggingen",59.056667,7.399035,QuartÃ¤re Kiese und Sande (GWL),211
505,"TB1 WeingartenhÃ¶fe, Forchheim",69.444000,4.908000,QuartÃ¤re Kiese und Sande (GWL),211
506,"TB2 Kieswerk Sattler, Steinenstadt",16.624138,3.890836,QuartÃ¤re Kiese und Sande (GWL),211

## Splitten

Das Aufteilen des Datensatzes erfolgt mit der Funktion "train_test_split" des Packages sklearn.

Hier kann mit dem Parameter "test_size" das Verhältnis festgelegt werden und mit dem Parameter "random_state" die Reproduzierbarkeit garantiert werden.

In [23]:
from sklearn.model_selection import train_test_split

In [24]:
train, test = train_test_split(Messstellen, test_size=0.2, random_state=43)

In [25]:
print('Größe Trainingsdaten: ', train.shape)
print('Größe Testdaten: ', test.shape)

Größe Trainingsdaten:  (405, 5)
Größe Testdaten:  (102, 5)

## Skalieren

### Normieren

Händisches Skalieren mit Hilfe der Formel:
$X_{norm} = \frac{X - X_{min}}{X_{max} - X_{min}}$

In [26]:
X_min = train.NO3.min()
X_range = train.NO3.max() - train.NO3.min()
train = train.assign(NO3_norm = (train['NO3']-X_min)/X_range)
test = test.assign(NO3_norm = (test['NO3']-X_min)/X_range)

In [27]:
print('X_min: ', train.NO3_norm.min())
print('X_max: ', train.NO3_norm.max())

X_min:  0.0
X_max:  1.0

Vorhandene Funktion von sklearn "MinMaxScaler"

Die Scaler werden zuerst als eingenes Objekt erstellt und müssen dann an Daten gefittet werden.

Anschließend können sie Daten auf Grundlage der Fit-Daten transformieren, hier sklieren.

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler = MinMaxScaler()
scaler.fit(train[['NO3']])

MinMaxScaler()

In [30]:
train['NO3_norm']= scaler.transform(train[['NO3']])
test['NO3_norm'] = scaler.transform(test[['NO3']])

In [31]:
print('X_min: ', train.NO3_norm.min())
print('X_max: ', train.NO3_norm.max())

X_min:  0.0
X_max:  1.0000000000000002

### Standardisieren

Händisches Skalieren mit Hilfe der Formel:
$X_{std} = \frac{X - mean(X)}{stdw(X)}$

In [32]:
X_mean = train.NO3.mean()
X_std = train.NO3.std()
train = train.assign(NO3_std = (train['NO3']-X_mean)/X_std)
test = test.assign(NO3_std = (test['NO3']-X_mean)/X_std)

In [33]:
print('mean(X): ', train.NO3_std.mean())
print('std(X): ', train.NO3_std.std())

mean(X):  -1.798287170750871e-16
std(X):  0.9999999999999999

Vorhandene Funktion von sklearn "StandardScaler"

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
scaler = StandardScaler()
scaler.fit(train[['NO3']])

StandardScaler()

In [36]:
train['NO3_std']= scaler.transform(train[['NO3']])
test['NO3_std'] = scaler.transform(test[['NO3']])

In [37]:
print('mean(X): ', train.NO3_std.mean())
print('std(X): ', train.NO3_std.std())

mean(X):  -1.8860084961533524e-16
std(X):  1.0012368588524656

In [38]:
train.head()

,Messstelle,NO3,O2,Hydrogeologie,RASTERVALU,NO3_norm,NO3_std
59,"BR Erdbeerland E., Durmersheim",36.376923,7.192308,QuartÃ¤re Kiese und Sande (GWL),211,0.292256,0.544047
157,"GWM 10, Kahlenberg, Ringsheim",31.021053,6.684384,Unterjura und Mitteljura (GWG),211,0.248962,0.327006
179,"GWM 17 Stuttgarter StraÃe STWKA, KA",0.247222,0.767654,QuartÃ¤re Kiese und Sande (GWL),111,0.000208,-0.920074
342,"GWM P 2, Sankt Leon",39.053125,4.098993,QuartÃ¤re Kiese und Sande (GWL),211,0.313888,0.652497
12,"BBR1 EVC GmbH, Staufen im Breisgau",7.218519,8.322222,QuartÃ¤re Kiese und Sande (GWL),112,0.056560,-0.637569

In [39]:
test.head()

,Messstelle,NO3,O2,Hydrogeologie,RASTERVALU,NO3_norm,NO3_std
498,"TB WW Neuburgweier, Rheinstetten",0.664062,1.625000,QuartÃ¤re Kiese und Sande (GWL),231,0.003578,-0.903182
328,"GWM K 20 Kehl, Goldscheuer",0.227778,0.255556,QuartÃ¤re Kiese und Sande (GWL),231,0.000051,-0.920862
321,"GWM G0/1 KIT, Leopoldshafen",6.945455,3.259091,QuartÃ¤re Kiese und Sande (GWL),313,0.054352,-0.648635
170,"GWM 1279 A, Oberhausen",14.138462,7.215385,QuartÃ¤re Kiese und Sande (GWL),231,0.112496,-0.357145
432,"TB 116 UniversitÃ¤t AlbertstraÃe, Freiburg",14.133333,7.412369,QuartÃ¤re Kiese und Sande (GWL),121,0.112454,-0.357353

## Encodieren

### Binär

Der 3-stellige Corine Code ist eine Stufenweise Beschreibung der Landnutzung, wobei die erste Ziffer die gröbste Einordnung darstellt.
- 1XX = Artificial Surfaces 
- 2XX = Agricultural areas 
- 3XX = Forest and seminatural areas
- 4XX = Wetlands 
- 5XX = Water bodies 

Im folgende erfolgt ein binäres Encoding nach der Klasse 1.
Dafür wird zuerst eine neue Spalte erstellt, die nur die erste Ziffer enthät und anschließend in Abhängigkeit davon ein binäres Encoding.

In [40]:
train['Corine'] = train['RASTERVALU'].apply(lambda x: int(str(x)[0]))
train['Artificial_Surface'] = train['Corine'].apply(lambda x: 1 if x == 1  else 0)

test['Corine'] = test['RASTERVALU'].apply(lambda x: int(str(x)[0]))
test['Artificial_Surface'] = test['Corine'].apply(lambda x: 1 if x == 1  else 0)

In [41]:
train

,Messstelle,NO3,O2,Hydrogeologie,RASTERVALU,NO3_norm,NO3_std,Corine,Artificial_Surface
59,"BR Erdbeerland E., Durmersheim",36.376923,7.192308,QuartÃ¤re Kiese und Sande (GWL),211,0.292256,0.544047,2,0
157,"GWM 10, Kahlenberg, Ringsheim",31.021053,6.684384,Unterjura und Mitteljura (GWG),211,0.248962,0.327006,2,0
179,"GWM 17 Stuttgarter StraÃe STWKA, KA",0.247222,0.767654,QuartÃ¤re Kiese und Sande (GWL),111,0.000208,-0.920074,1,1
342,"GWM P 2, Sankt Leon",39.053125,4.098993,QuartÃ¤re Kiese und Sande (GWL),211,0.313888,0.652497,2,0
12,"BBR1 EVC GmbH, Staufen im Breisgau",7.218519,8.322222,QuartÃ¤re Kiese und Sande (GWL),112,0.056560,-0.637569,1,1
...,...,...,...,...,...,...,...,...,...
277,"GWM B2 Tief Kieswerk Peter, Honau",0.958333,1.008333,QuartÃ¤re Kiese und Sande (GWL),512,0.005957,-0.891257,5,0
305,"GWM F Sportzentrum, Schriesheim",5.061667,5.246667,QuartÃ¤re Kiese und Sande (GWL),112,0.039125,-0.724973,1,1
255,"GWM 6, Neuried Dundenheim",74.896429,3.650118,QuartÃ¤re Kiese und Sande (GWL),211,0.603620,2.105012,2,0
320,"GWM Friedrichstal, Friedrichstal",4.788462,1.014271,QuartÃ¤re Kiese und Sande (GWL),211,0.036917,-0.736045,2,0
324,"GWM II, Goldscheuer-Marlen",4.564286,0.816824,QuartÃ¤re Kiese und Sande (GWL),231,0.035105,-0.745129,2,0

In [42]:
train.drop(columns='RASTERVALU', inplace=True)
test.drop(columns='RASTERVALU', inplace=True)

### One-Hot

In [43]:
from sklearn.preprocessing import OneHotEncoder

In [44]:
encoder = OneHotEncoder(sparse=False)
encoder.fit(train[['Corine']])
encoder.get_feature_names()

array(['x0_1', 'x0_2', 'x0_3', 'x0_5'], dtype=object)

Beispiel für One-Hot Encoding:

In [45]:
example_oh = encoder.transform(test[['Corine']]) 
#encoder.transform(train[['Corine']]) # genauso auch für die train-Daten möglich
example_oh = pd.DataFrame(example_oh, columns=encoder.get_feature_names())

In [46]:
example_oh

     x0_1  x0_2  x0_3  x0_5
0     0.0   1.0   0.0   0.0
1     0.0   1.0   0.0   0.0
2     0.0   0.0   1.0   0.0
3     0.0   1.0   0.0   0.0
4     1.0   0.0   0.0   0.0
..    ...   ...   ...   ...
97    0.0   0.0   1.0   0.0
98    1.0   0.0   0.0   0.0
99    1.0   0.0   0.0   0.0
100   1.0   0.0   0.0   0.0
101   0.0   1.0   0.0   0.0

[102 rows x 4 columns]

### Target

In [47]:
from category_encoders.target_encoder import TargetEncoder

In [48]:
encoder = TargetEncoder()
train['Target_Hy'] = encoder.fit_transform(train['Hydrogeologie'],train['NO3'])
test['Target_Hy'] = encoder.transform(test['Hydrogeologie'])

C:\Users\Jonas\miniconda3\envs\gda\lib\site-packages\category_encoders\utils.py:21: FutureWarning: is_categorical is deprecated and will be removed in a future version.  Use is_categorical_dtype instead
  elif pd.api.types.is_categorical(cols):

In [49]:
test.head()

,Messstelle,NO3,O2,Hydrogeologie,NO3_norm,NO3_std,Corine,Artificial_Surface,Target_Hy
498,"TB WW Neuburgweier, Rheinstetten",0.664062,1.625000,QuartÃ¤re Kiese und Sande (GWL),0.003578,-0.903182,2,0,23.058092
328,"GWM K 20 Kehl, Goldscheuer",0.227778,0.255556,QuartÃ¤re Kiese und Sande (GWL),0.000051,-0.920862,2,0,23.058092
321,"GWM G0/1 KIT, Leopoldshafen",6.945455,3.259091,QuartÃ¤re Kiese und Sande (GWL),0.054352,-0.648635,3,0,23.058092
170,"GWM 1279 A, Oberhausen",14.138462,7.215385,QuartÃ¤re Kiese und Sande (GWL),0.112496,-0.357145,2,0,23.058092
432,"TB 116 UniversitÃ¤t AlbertstraÃe, Freiburg",14.133333,7.412369,QuartÃ¤re Kiese und Sande (GWL),0.112454,-0.357353,1,1,23.058092

## Speichern der Ergebnisse

Um einen Datensatz zu speichern,ist es sinnvoll diesen als csv.Datei zu exportieren.

Das Exportieren erfolgt über den Befehl ".to_csv" für Dataframes.

https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.to_csv.html

In [50]:
#train.to_csv('res.csv')

## Übung

Bereite jetzt selbst den Datensatz "data.csv" auf:
1. Ersetze die Werte unter der NWG 
2. Ersetze alle NULL-Values
3. Aggregiere die Daten für jede Messstelle
4. Splitte die Date (85:15)
5. Standardisiere die numerischen Variablen
6. Encode die Landnutzung binär nach der Landwirtschaft (Corine = 2XX) --> vorhanden = 1, nicht vorhanden = 0
7. Taret-Encode die Hyrogeologie auf Basis der Nitratkonzentration
8. Speichere deine Ergebnisse
9. Fertig! :)

Tipps:
- für die Features der Sauerstoff-Konzentration und der Hydrogeologie liegen die NULL-Values nicht als diese direkt vor, hier ist es hilfreich mal die Features mit ".describe()" bzw. ".unique()" zu betrachten